---
import { Image } from "astro:assets";

const { transaction } = Astro.props;

interface Props {
	transaction: Transaction;
}

interface Transaction {
	avatar: string;
	name: string;
	category: string;
	date: string;
	amount: number;
	recurring: boolean;
}
---

<div>
	<Image src={transaction.avatar} alt={""} width={100} height={100} />
	<div>
		<h2>{transaction.name}</h2>
		<h3>{transaction.category}</h3>
	</div>
	<div>
		<h3>{transaction.date}</h3>
		<h2>{transaction.amount}</h2>
	</div>
</div>
