---
import { Image } from "astro:assets";
import transformDate from "../lib/transformDate";
import transformMoney from "../lib/transformMoney";
const { transaction } = Astro.props;

interface Props {
	transaction: Transaction;
}

interface Transaction {
	avatar: string;
	name: string;
	category: string;
	date: string;
	amount: number;
	recurring: boolean;
}
---

<div class="container">
	<Image src={transaction.avatar} alt={""} width={100} height={100} />
	<div class="nameAndCat">
		<h2>{transaction.name}</h2>
		<h3>{transaction.category}</h3>
	</div>
	<div class="dateAndAmount">
		<h3>{transformDate(transaction.date)}</h3>
		<h2
			class:list={[
				transformMoney(transaction.amount).negative ? null : "positiveAmount",
			]}>
			{transformMoney(transaction.amount).string}
		</h2>
	</div>
</div>

<style lang="scss">
	.container {
		display: flex;
		align-items: center;
		border-bottom: 1px solid var(--neutral-light-grey);
		padding-block-end: 1rem;
	}
	img {
		border-radius: 100vw;
		object-fit: contain;
		width: 2rem;
		height: 2rem;
		margin-right: 0.5rem;
	}
	.nameAndCat,
	.dateAndAmount {
		h2 {
			font-size: var(--fs-small);
			font-weight: var(--fw-bold);
			color: var(--primary-100);
		}
		.positiveAmount {
			color: var(--secondary-green);
		}
		h3 {
			font-size: var(--fs-smallest);
			font-weight: var(--fw-regular);
			color: var(--neutral-dark-grey);
		}
	}
	.dateAndAmount {
		display: flex;
		flex-direction: column-reverse;
		text-align: right;
		margin-left: auto;
	}
	h2,
	h3 {
		font-size: var(--fs-smallest);
	}
</style>
